extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/ticket/new")
        .form-group
          label.col-sm-2.control-label(for="inputTitle") Ticket Title
          .col-sm-8
            input#inputTitle.form-control(type="text",name="ticket[title]",value="#{ticket.title}")
        .form-group
          label.col-sm-2.control-label(for="inputAttraction") Attraction
          .col-sm-8
            input#inputAttraction.form-control(type="text",name="ticket[attraction]",value="#{ticket.attraction}")
        .form-group
          label.col-sm-2.control-label(for="inputType") Ticket Type
          .col-sm-8
            input#inputType.form-control(type="text",name="ticket[type]",value="#{ticket.type}")
        .form-group
          label.col-sm-2.control-label(for="inputPrice") Ticket Price
          .col-sm-8
            input#inputPrice.form-control(type="text",name="ticket[price]",value="#{ticket.price}")
        .form-group
          label.col-sm-2.control-label(for="inputAddress") Attraction Address
          .col-sm-8
            input#inputAddress.form-control(type="text",name="ticket[address]",value="#{ticket.address}")
        .form-group
          label.col-sm-2.control-label(for="inputImage") Attraction Image Address
          .col-sm-8
            input#inputImage.form-control(type="text",name="ticket[image]",value="#{ticket.image}")
        .form-group
          label.col-sm-2.control-label(for="inputVideo") Attraction Video Address
          .col-sm-8
            input#inputVideo.form-control(type="text",name="ticket[video]",value="#{ticket.video}")
        .form-group
          label.col-sm-2.control-label(for="inputDescription") Description
          .col-sm-8
            input#inputDescription.form-control(type="text",name="ticket[description]",value="#{ticket.description}")
        .form-group
          .col-sm-offset-6.col-sm-6
            button.btn.btn-default(type="submit") Submit